<!--TODO: rm react-buy; just putting here for testing -->
<!-- load the  "buy" bundle & run the "buy" react app -->
<div id="react-buy"></div>
<%= javascript_pack_tag 'buy' %>

<!-- load the  "menu" bundle & run the "menu" react app -->
<div id="react-menu"></div>
<%= javascript_pack_tag 'menu' %>
