<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Motzi Bread - <%= @menu.name %>

    <%= @menu.bakers_note %>

    Warmly,

    Maya and Russell
    Motzi Bread

    Fill out form: url
  </body>
</html>
