<div>User: <%= current_user.name %></div>
<div>Remaining credits: <%= current_user.credits %></div
>
<!-- load the  "menu" bundle, which creates a node and runs the "menu" react app -->
<%= javascript_pack_tag 'menu' %>
