<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Motzi Bread - <%= @menu.name %></h1>

    <div>
      <%= @menu.bakers_note %>
    </div>

    <p>You have <%= @user.credits %> credits remaining.</p>

    <p>Warmly,</p>

    <p>Maya and Russell</p>
    <p>Motzi Bread</p>

    <p>TODO: include form_url</p>
  </body>
</html>
