<mj-text font-size="11px" color="#FFECD6" align="center" padding-top="8px">
  <a href="<%= current_menu_url(uid: @user.hashid, tab: 'email') %>" style="color: #FFECD6; text-decoration: underline;">
    Manage email preferences
  </a>
</mj-text>
