<%# app/views/errors/unprocessable.html.erb %>
<div class="text-center mt-4 mb-4">
  <h1>422 &mdash; Unprocessable Request</h1>
  <p class="mt-3" style="font-size: 1.1rem;">
    Your request couldn't be processed. This can happen if a form expired or a link is outdated.
  </p>
  <a href="/" class="btn btn-primary mt-3">Back to the bakery</a>
</div>

<%= render "errors/feedback_form", page_type: "422" %>
