<h2>Thanks for buying credits from <%= Setting.shop.name %>.</h2>

<p>You were charged: <%= number_to_currency(@credit_item.stripe_charge_amount) %> for <%= number_to_currency(@credit_item.quantity) %> credits.</p>

<div>
<%= Setting.signup_email_text %>
</div>
