<h2>Reminder to come grab your bread today 11am to 7pm!!</h2>
<% if Setting.motzi_phone %>
<p>Please call us at <%= Setting.motzi_phone %> if you have any questions/issues or won't make it by 7pm.</p>
<% end %>

<% if @order.present? %>
<p>You ordered:</p>
<ul>
    <% @order.items.map do |i| %>
    <li><%= i.name %></li>
    <% end %>
</ul>
<% end %>

<p>You have <%= @user.credits %> credits remaining.</p>