<h2>For <%= @menu.name %>, please order by <%= day_to_order_by_text(@menu) %>!!</h2>

<p><%= link_to @menu.name, current_menu_url(uid: @user.hashid) %></p>

<%= render partial: 'menu_mailer/credits_remaining' %>
