<% content_for :title, "Contact Us" %>

<article class="page-contact">
  <header class="page-hero">
    <h1>Contact Us</h1>
    <p class="lede">We'd love to hear from you!</p>
  </header>

  <section class="contact-details">
    <address>
      2801 Guilford Ave<br>
      Baltimore, MD 21218
    </address>
    <p><strong>Phone:</strong> 443-272-1515 (Tues – Sat)</p>
  </section>

  <%# Form added in Task 9 %>
</article>
