// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.mt-0,
.panel h4 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

// dashboard
.col-user a,
.col-order a,
.col-phone,
.col-created_at,
.col-updated_at {
  white-space: nowrap;
}

.col-feedback,
.col-comments {
  p {
    margin-bottom: 0.1em;
  }
}

.col-created_at,
.col-updated_at {
  font-size: 0.7em;
}

.menu-builder {
  table {
    width: 300px;
    margin-bottom: 0; // make Adder table adjacent to previous table
    select {
      height: 27px; // make <select> same height as button
    }
    td:last-child {
      text-align: right;
    }
  }
}
