$container-max-widths: (
  sm: 420px,
  md: 640px,
  lg: 680px
);

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import url("https://fonts.googleapis.com/css?family=Oswald:regular,bold&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:regular&subset=latin,latin-ext");
body {
  background-color: rgb(233, 242, 236);
}
.banner {
  background-image: image-url("background-bread.jpg");
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 1);
  height: 278px;
}
.container {
  margin-top: -100px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  background: white;
  border-top: 10px solid #507a4e;
  $padding-left-right: 34px + 15px;
  padding-left: $padding-left-right;
  padding-right: $padding-left-right;
  padding-bottom: $padding-left-right + 15px;
  margin-bottom: 100px;
}
@media (max-width: map-get($container-max-widths, sm)) {
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .padding-x-mobile-5px {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: rgb(50, 42, 25);
  text-transform: uppercase;
}
h1,
h2 {
  text-align: center;
}

.bakers-note {
  font-size: 0.8em;
}

@media only screen and (min-width: 1025px) {
  .wrapper {
    max-width: 900px;
    margin: auto;
  }
}

// for ErrorBoundary
.stack-trace {
  white-space: pre;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0.7em;
  background: white;
}


// stripe
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  min-width: 200px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
