$container-max-widths: (
  sm: 420px,
  md: 640px,
  lg: 680px,
);

$motzi-purple: rgb(53, 44, 99);
$motzi-red: rgb(213, 72, 44);

// override boostrap colors/variables
// https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss
$secondary: $motzi-red; // day1
$primary: $motzi-purple; // day2
$btn-padding-x-sm: 0.75rem;

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
body {
  background-color: rgb(255, 238, 214);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #2e2927;
}
strong {
  font-weight: 500;
}
#background {
  // set the background-image inline
  background-size: auto;
  background-position-x: center;
  background-position-y: -720px;
  background-repeat: no-repeat;
  padding-top: 200px;
}

.dutch_courage {
  #background {
    background-position-y: 0 !important;
  }
}

#logo-wrapper {
  text-align: center;
  padding-top: 20px;
}
#logo {
  height: 100px;
}
.subscriber-info {
  color: $motzi-red;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
$container-margin: 15px;
$container-margin-padding: 34px + $container-margin;

#menu-name {
  margin-left: -$container-margin-padding;
  margin-right: -$container-margin-padding;
  padding-left: $container-margin-padding;
  padding-right: $container-margin-padding;
  margin-bottom: 0;
  color: white;
  background: $motzi-purple;
  text-transform: none;
  padding-top: 45px;
  padding-bottom: 25px;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
}
#deadline {
  color: white;
  background: $motzi-purple;
  margin-left: -$container-margin-padding;
  margin-right: -$container-margin-padding;
  padding-left: $container-margin-padding;
  padding-right: $container-margin-padding;
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  background: white;
  padding-left: $container-margin-padding;
  padding-right: $container-margin-padding;
  padding-bottom: $container-margin-padding + $container-margin;
  margin-bottom: 100px;
}
@media (max-width: map-get($container-max-widths, sm)) {
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
    overflow: hidden;
  }
  #menu-name {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .padding-x-mobile-5px {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: $motzi-purple;
  text-transform: uppercase;
}
h5 {
  font-weight: 300;
}
h1,
h2 {
  text-align: center;
}
.btn-primary,
.btn-secondary,
.btn-dark,
.price {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.alert-secondary {
  border: none;
  background: $motzi-red;
  color: white;
}
.price {
  font-size: 0.8rem;
}
.btn-link,
a {
  text-decoration: underline;
}

.bakers-note {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
}

@media only screen and (min-width: 1025px) {
  .wrapper {
    max-width: 900px;
    margin: auto;
  }
}

//
// JINJI overrides
//
.jinji {
  .banner {
    background-image: image-url("background-chocolate.jpg");
  }
  .container {
    border-top-color: purple;
  }
}

// for ErrorBoundary
.stack-trace {
  white-space: pre;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0.7em;
  background: white;
}

// stripe
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  min-width: 200px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
