name: ci
# Run Rails tests & Jest. If pass & on master, deploy to Heroku.
on: push
jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.5
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0 # heroku needs an unshallow clone

      - name: Install PostgreSQL 11 client
        run: sudo apt-get -yqq install libpq-dev

      - name: Increase the amount of inotify watchers
        # started getting this error around 20-03-01
        # https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - uses: ruby/setup-ruby@v1.229.0
        with:
          bundler-cache: true

      - name: Set Node.js 20.x
        uses: actions/setup-node@v4.3.0
        with:
          node-version: 20.x

      - name: Run install
        uses: borales/actions-yarn@v5.0.0
        with:
          cmd: install # will run `yarn install` command

      - name: Build JS assets
        run: yarn build

      - name: rails db:setup test test:system
        env:
          PGHOST: localhost
          PGUSER: postgres
          RAILS_ENV: test
          RUBYOPT: "-W:no-deprecated -W:no-experimental"
        run: |
          bin/rails db:setup
          bin/rails test
          bin/rails test:system

      - name: jest
        run: npx jest test/javascript

      # Make sure the cli is installed before using akhileshns/heroku-deploy
      - name: Install Heroku CLI
        run: curl https://cli-assets.heroku.com/install.sh | sh
      - name: Deploy to Heroku
        if: github.ref == 'refs/heads/master' && success()
        timeout-minutes: 15
        uses: akhileshns/heroku-deploy@v3.14.15
        env:
          # Prevent Husky hooks from running during deploy (can trigger `npm test`/`yarn test`).
          HUSKY: "0"
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: motzibread
          heroku_email: ${{secrets.HEROKU_EMAIL}}
